:root {
    --primary-500: #32580d;
    --text-color: #16161d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

.headline-03-regular {
    font-size: 24px;
    font-family: Manrope;
    line-height: 36px;
}

.display-02-bold {
    font-size: 48px;
    font-weight: 700;
    font-family: Manrope;
    line-height: 72px;
}

.title-01-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.title-02-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
}
.body-02-regular {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.body-02-semibold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.primary-color {
    color: var(--primary-500);
}

.heading {
    display: flex;
    gap: -0.5em;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.5em;
    width: 100%;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.5em;
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 3em;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    gap: 3em;
    max-width: 26em;
    min-width: 20em;
}

.signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12em;
    flex-wrap: wrap-reverse;
    margin: 3em auto;
    padding: 0 4.5em;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-width: 26em;
    margin: 3em auto;
}

.reset-password {
    cursor: pointer;
    transition: 0.5s;
}

.reset-password:hover {
    color: #65B01C;
}

@media screen and (max-width: 1024px ) {
    .signup-container {
        gap: 3em;
    }
}